<app-nav></app-nav>
<!--BODY-->
<div class="container-fluid">

    <h3 style="text-align: center; font-family: 'Times New Roman', Times, serif; margin-top: 5%;">Alert Room<br>¿Que puedo realizar?</h3><hr>
    <div class="container">
        <div class="id">
            <i class='far fa-edit' style='font-size:48px; margin: 8%; margin-top: 1%;'><br><a [routerLink]="['/reportNewsInstru']" class="badge badge-light"><h6>Ir al modulo de notificar novedades</h6></a></i><br>
            <i class='fas fa-wifi' style='font-size:48px; margin: 8%; margin-top: 1%;'><br><a [routerLink]="['/consultRoomInstru']" class="badge badge-light"><h6>Ir al modulo de ambientes</h6></a></i><br>
            <i class='fas fa-key' style='font-size:48px; margin: 8%;margin-top: 1%;'><br><a [routerLink]="['/passKeyInstru']" class="badge badge-light"><h6>Ir al modulo de pasar llaves</h6></a></i>
        </div>
        <div class="iz" style="text-align: center;">
            <h4>Como notificador de novedades</h4>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.Petierunt
                uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
            </p><br>
            <h4>Como solicitador de ambiente</h4>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.Petierunt
                uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
            </p><br>
            <h4>Como rotador de llaves</h4>
            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros.Petierunt
                uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.
            </p><br>
        </div>
        <div class="spant" style='width: -15px; height: 8px;' >
            <img [src]="img_ini">
         </div>
        <div style="clear: both;"></div>
    </div>
</div>
<!--/BODY-->
<app-footer></app-footer>